* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom right, #e0f7fa, #b2ebf2);
    font-family: Arial, sans-serif;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.logo img {
    width: 33%;
    border: 1px solid #0b0b0b;
    border-radius: 50px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #0097a7;
    color: white;
    padding: 4px 20px;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    list-style: none;
}

.nav-list li {
    padding: 10px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-family: "Sevillana", cursive;
}

.nav-list li a:hover {
    color: #000;
}

.rightnav {
    width: 19%;
    text-align: right;
}

#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid #1a1d1a;
    border-radius: 9px;
}

.firstsection {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box-main {
    max-width: 50%;
    color: #8e1818;
    font-family: "Sevillana", cursive;
}

.firsthalf {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondhalf img {
    width: 100%;
    border: 2px solid black;
    border-radius: 150px;
}

.text {
    font-size: 35px;
    margin-left: 126px;
}

.texts {
    font-size: 14px;
    margin-left: 120px;
}

.text-big {
    font-size: 35px;
}

.text-small {
    font-size: 18px;
}


.btn {
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid black;
    border-radius: 8px;
    font-family: "Sevillana", cursive;
    background: none;
    color: black;
    cursor: pointer;
}

.rightnav input {
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid #080707;
    border-radius: 8px;
}

.btn-dark {
    color: black;
    border: 2px solid black;
}

.btn-sm {
    padding: 6px 10px;
}


.secright,
.secleft {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: "Sevillana", cursive;
}

.secleft {
    flex-direction: row-reverse;
}

.paras {
    padding: 0 65px;
}


.thumbnail img {
    width: 250px;
    border: 2px solid black;
    border-radius: 26px;
    margin-top: 19px;
}


.contact {
    background-color: #fefefe;
    height: 533px;
}

.text-center {
    text-align: center;
    padding: 30px;
    font-family: "Sevillana", cursive;
}


.form {
    max-width: 62%;
    margin: 25px auto;
}

.form input {
    margin: 14px 0;
    width: 100%;
    border: 2px solid gray;
    border-radius: 6px;
    font-size: 19px;
    padding: 5px 3px;
}


.text-footer {
    text-align: center;
    padding: 15px 0;
    font-family: "Sevillana", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #0097a7;
}

.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line {
    width: 33px;
    background-color: #b2ebf2;
    height: 4px;
    margin: 3px 3px;
}


@media (max-width: 1200px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
    }

    .nav-list {
        flex-direction: column;
        width: 100%;
    }

    .nav-list li {
        padding: 10px 0;
    }

    .box-main {
        max-width: 80%;
        flex-direction: column-reverse;
    }

    .rightnav {
        text-align: center;
        width: 100%;
    }

    #search {
        width: 100%;
    }

    .firstsection {
        flex-direction: column;
        padding: 20px;
    }

    .secright,
    .secleft {
        flex-direction: column-reverse;
    }

    .burger {
        display: block;
    }

    .text-small,
    .text-big,
    .firsthalf {
        text-align: center;
    }
}


@media (max-width: 768px) {
    .logo {
        width: 50%;
    }

    .nav-list {
        display: none;
    }

    .burger {
        display: block;
    }

    .secright,
    .secleft {
        flex-direction: column;
    }

    .text-footer {
        flex-direction: column;
        padding: 10px;
    }

    .firstsection {
        height: auto;
    }

    .thumbnail img {
        width: 100%;
    }

    .box-main {
        max-width: 100%;
    }

    .form {
        max-width: 100%;
    }
}